body {
    background-color: #1f1f1f;
}

p {
    color: #d6cf00;
}

h1 {
    color: #d6cf00;
}

h2 {
    color: #d6cf00;
}

h3 {
    color: #d6cf00;
}
a {
    color: #b15b25;
}

footer {
    color: #b15b25
}